// html {
//   background: lightgrey;
// }

#crust {
  height: 100vh;
  background: lightgrey;
  text-align: center;
}
#ingredients {
  height: 100vh;
  background: lightgrey;
  text-align: center;
}
#review {
  height: 100vh;
  background: lightgrey;
  text-align: center;
}
